<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6 class="">Cheese Counters List
            <td class="align-middle">
              <a class="btn-link text-dark px-2 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#add-counter" data-toggle="tooltip" data-original-title="Add Fur">
                <i class="fas fa-plus-circle text-sm" aria-hidden="true"></i>
              </a>
              <a class="btn-link text-dark mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#info-fur" data-toggle="tooltip" data-original-title="Add Fur">
                <i class="fas fa-info-circle text-sm" rel="tooltip"></i>
              </a>
            </td>
          </h6>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            {{#each cheeseCounters}}
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg" data-row-id="{{this.ID}}">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm"><span>{{this.Name}}</span> <span class="mb-2 text-xs"><span class="text-dark font-weight-bold ms-sm-2">({{this.StartingDate}}{{#if this.IsCounterEnded}} - {{this.EndDate}}{{/if}})</span></span></h6>
                  <span class="mb-2 text-xs">Won Cheese: <span class="text-dark font-weight-bold ms-sm-2">{{this.TotalCheese}}</span></span>
                  <span style="display:none">{{this.StartingMarketCheese}}</span>
                  <span style="display:none">{{this.MarketCheese}}</span>
                  <span style="display:none">{{this.SpentCheese}}</span>
                  <span style="display:none">{{this.TargetCheese}}</span>
                  <span class="mb-2 text-xs">Target Cheese Percentage: <span class="text-dark font-weight-bold ms-sm-2">%{{this.TargetCheesePercentage}}</span></span>
                  <span class="mb-2 text-xs">Side Users Cheese: <span class="text-dark ms-sm-2 font-weight-bold">{{this.UsersSumCheese}}</span></span><br>
                  <span class="mb-2 text-xs">Average Cheese Earned Per Day: <span class="text-dark ms-sm-2 font-weight-bold">{{this.AverageCheese}}</span></span>
                  <span class="mb-2 text-xs">Maximum Number Cheese Accounts: <span class="text-dark ms-sm-2 font-weight-bold">{{this.FullCheeseCount}}</span></span><br>
                  <span class="mb-2 text-xs">Estimated Cheese At The Market: <span class="text-dark ms-sm-2 font-weight-bold">{{this.EstimatedCheese}}</span></span>
                  <span class="mb-2 text-xs">Remaining Cheese For Furs: <span class="text-dark ms-sm-2 font-weight-bold">{{this.FursCheeseRemainder}}</span></span>
                </div>
                <div class="ms-auto text-end">
                  <a class="btn btn-link text-dark px-3 mb-0 icon-edit-counter" data-bs-toggle="modal" data-bs-target="#edit-counter" data-toggle="tooltip" data-original-title="Edit count" href="javascript:;"><i
                      class="fas fa-pencil-alt tex dark me-2" aria-hidden="true"></i>Edit</a>

                  <form style="float:left" id="counter-delete-form-{{this.ID}}" action="/cheese-counters/delete-counter" method="post">
                    <a onclick="document.getElementById('counter-delete-form-{{this.ID}}').submit();" class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="far fa-trash-alt me-2" aria-hidden="true"></i>Delete</a>
                    <input type="hidden" name="ID" value={{this.ID}}>
                  </form>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Add -->
<div class="modal fade" id="add-counter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Cheese Counter</h5>
      </div>
      <form action="/cheese-counters" method="post">
        <div class="modal-body">
          <div class="form-group" style="width:30%;  float:left">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" autocomplete="off" required>
          </div>

          <div class="form-group" style="width:30%; margin-left:5%; float:left">
            <label for="StartingDate">Starting Date</label>
            <input type="text" class="form-control" name="StartingDate" autocomplete="off" required>
          </div>

          <div class="form-group" style="width:30%; margin-left:5%; float:left">
            <label for="StartingMarketCheese">Starting Cheese</label>
            <input type="text" class="form-control" autocomplete="off" name="StartingMarketCheese" required>
          </div>

          <div class="form-group" style="width:30%; float:left">
            <label for="MarketCheese">Latest Cheese</label>
            <input type="text" class="form-control" autocomplete="off" name="MarketCheese" required>
          </div>

          <div class="form-group" style="width:30%; margin-left:5%; float:left">
            <label for="MarketCheese">Spent Cheese</label>
            <input type="text" class="form-control" autocomplete="off" name="SpentCheese" required>
          </div>

          <div class="form-group" style="width:30%; margin-left:5%; float:left">
            <label for="Deneme">Target Cheese</label>
            <input type="text" class="form-control" autocomplete="off" name="TargetCheese" required>
          </div>

          <div id="br">
            <br><br><br><br><br><br><br>
          </div>
          <div class="form-group" id="counterUsers">
            <label for="CounterUsers">Side-Accounts</label>
            <select multiple class="form-control" name="CounterUsers" style="height: 140px">
              {{#each users}}
                <option value={{this.ID}}>{{this.Name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="useAllUsers" name="UseSideUsers">
            <label class="form-check-label" for="UseSideUsers">
              Use All Users
            </label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn bg-gradient-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Edit -->

<div class="modal fade" id="edit-counter" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Cheese Counter</h5>
      </div>
      <form action="/cheese-counters/edit-counter" method="post">
        <div class="modal-body">
          <input type="hidden" id="counterID-edit" name="ID" />
          <div class="form-group" style="width:30%;  float:left">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" autocomplete="off" required>
          </div>

          <div class="form-group" style="width:30%; margin-left:5%; float:left">
            <label for="StartingDate">Starting Date</label>
            <input type="text" class="form-control" name="StartingDate" autocomplete="off" required>
          </div>

          <div class="form-group" style="width:30%; margin-left:5%; float:left">
            <label for="StartingMarketCheese">Starting Cheese</label>
            <input type="text" class="form-control" autocomplete="off" name="StartingMarketCheese" required>
          </div>

          <div class="form-group" style="width:30%; float:left">
            <label for="MarketCheese">Latest Cheese</label>
            <input type="text" class="form-control" autocomplete="off" name="MarketCheese" required>
          </div>

          <div class="form-group" style="width:30%; margin-left:5%; float:left">
            <label for="SpentCheese">Spent Cheese</label>
            <input type="text" class="form-control" autocomplete="off" name="SpentCheese" required>
          </div>

          <div class="form-group" style="width:30%; margin-left:5%; float:left">
            <label for="TargetCheese">Target Cheese</label>
            <input type="text" class="form-control" autocomplete="off" name="TargetCheese" required>
          </div>

          <div style="font-size:1px">eee</div>

          <div class="form-group" style="width:100%;" id="EndDate-edit">
            <label for="EndDate">End Date</label>
            <input type="text" class="form-control" autocomplete="off" name="EndDate">
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="useSomeUsers-edit" name="useSomeUsers">
            <label class="form-check-label" for="useSomeUsers">
              Use Some Users
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="useAllUsers-edit" name="UseSideUsers" checked>
            <label class="form-check-label" for="UseSideUsers">
              Use All Users
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="closeCheeseCounter-edit" name="closeCheeseCounter">
            <label class="form-check-label" for="closeCheeseCounter">
              Close The Cheese Counter
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn bg-gradient-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Edit -->



<!-- <a class="btn-link text-dark mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#info-furr" data-toggle="tooltip" data-original-title="Add Fur">
  <i class="fas fa-info-circle text-sm" rel="tooltip"></i>
</a>


<div class="modal fade" id="info-furr" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-top modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Cheese Counter</h5>
      </div>
      <form action="/cheese-counters" method="post">
        <div class="modal-body">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Role</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cheese</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody id="tbody-users">
                {{#each users}}
                  <tr data-row-id="{{this.ID}}">
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="https://yazhocam.com/wp-content/uploads/2018/02/Beyaz-Arkaplan.jpg" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{this.Name}}</h6>
                          <p class="text-xs text-secondary mb-0">{{this.Email}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">User</p>
                      <p class="text-xs text-secondary mb-0">Cheeser</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm">{{this.Cheese}}</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{this.Date}}</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="icon-edit-user text-secondary font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#edit-user" data-toggle="tooltip" data-original-title="Edit user">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                      </a>

                      <a href="javascript:;" style="margin-left:5%" class="button-delete-user text-secondary font-weight-bold text-xs" data-id="{{this.ID}}">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn bg-gradient-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<style>
  .list-group-item:nth-child(n+1) {
    margin-top: 20px
  }

  .list-group-item:nth-child(1) {
    margin-top: -10px
  }
</style>

<script src="/static/assets/js/cheese-counter.js"></script>
