<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-header pb-0">
          <h6 class="">Favourite Furs List
            <td class="align-middle">
              <a class="btn-link text-dark px-2 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#add-fur" data-toggle="tooltip" data-original-title="Add Fur">
                <i class="fas fa-plus-circle text-sm" aria-hidden="true"></i>
              </a>
              <a class="btn-link text-dark mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#info-fur" data-toggle="tooltip" data-original-title="Add Fur">
                <i class="fas fa-info-circle" rel="tooltip"></i>
              </a>
            </td>
          </h6>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group" style="display: inline">
            {{#each furs}}
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg fur-{{this.ID}}" style="width:30%; height: 125px;float:left;">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm">{{this.Name}}</h6>
                  <span class="mb-2 text-xs">Peynir: <span class="text-dark font-weight-bold ms-sm-2">{{this.Cheese}}</span></span>
                  <span class="mb-2 text-xs">Öncelik: <span class="text-dark font-weight-bold ms-sm-2">{{this.Priority}}</span></span>
                </div>
                <div class="ms-auto text-end">
                  <img style="position: absolute; right: 60px; bottom: 20px; " src="{{this.Link}}" ondblclick="window.location='/favourite-furs/delete-fur?ID={{this.ID}}'" >
                  <img style="position: absolute; right: 10px; bottom: 20px;" src="{{this.BadgeLink}}">
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <!-- Modal Edit -->
    <div class="modal fade" id="add-fur" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Favourite Fur</h5>
          </div>
          <form action="/favourite-furs" method="post">
            <div class="modal-body">
              <div class="form-group" style="width:47.5%;  float:left">
                <label for="Link">Fur URL</label>
                <input type="text" class="form-control" name="Link" autocomplete="off" required>
              </div>

              <div class="form-group" style="width:47.5%; margin-left:5%; float:left">
                <label for="BadgeLink">Badge URL</label>
                <input type="text" class="form-control" name="BadgeLink" autocomplete="off" required>
              </div>

              <div class="form-group" style="width:30%; float:left">
                <label for="Name">Name</label>
                <input type="text" class="form-control" autocomplete="off" name="Name" required>
              </div>

              <div class="form-group" style="width:30%; margin-left:5%; float:left">
                <label for="Cheese">Cheese</label>
                <input type="text" class="form-control" autocomplete="off" name="Cheese" required>
              </div>

              <div class="form-group" style="width:30%; margin-left:5%; float:left">
                <label for="Priority">Priority</label>
                <select class="form-control" id="Priority" name="Priority" required>
                  <option disabled selected value>Select one...</option>
                  <option >1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn bg-gradient-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Edit -->
    <div class="modal fade" id="info-fur" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Favourite Furs Informations</h5>
          </div>
          <div class="modal-body">
            <span class="text-dark font-weight-bold ms-sm-2" style="font-size:13px">Total cheese of furs (Priority = 5):</span> <span class=" mb-2 text-xs" style="font-size:13px; margin-left: 2px">{{furCheese.TotalFivep}}</span><br>
            <span class="text-dark font-weight-bold ms-sm-2" style="font-size:13px">Total cheese of furs (Priority = 4):</span> <span class=" mb-2 text-xs" style="font-size:13px; margin-left: 2px">{{furCheese.TotalFourp}}</span><br>
            <span class="text-dark font-weight-bold ms-sm-2" style="font-size:13px">Total cheese of furs (Priority = 3):</span> <span class=" mb-2 text-xs" style="font-size:13px; margin-left: 2px">{{furCheese.TotalThreep}}</span><br>
            <span class="text-dark font-weight-bold ms-sm-2" style="font-size:13px">Total cheese of furs (Priority = 2):</span> <span class=" mb-2 text-xs" style="font-size:13px; margin-left: 2px">{{furCheese.TotalTwop}}</span><br>
            <span class="text-dark font-weight-bold ms-sm-2" style="font-size:13px">Total cheese of furs (Priority = 1):</span> <span class=" mb-2 text-xs" style="font-size:13px; margin-left: 2px">{{furCheese.TotalOnep}}</span><br>
            <span class="text-dark font-weight-bold ms-sm-2" style="font-size:13px">Total cheese of furs:</span> <span class=" mb-2 text-xs" style="font-size:13px; margin-left: 2px"><b>{{furCheese.Total}}</b></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <style>
      .list-group-item {
        margin-top: 5px
      }

      .list-group-item:nth-child(3n - 1) {
        margin-left: 5%;
      }

      .list-group-item:nth-child(3n) {
        margin-left: 5%;
      }
    </style>

    <script src="/static/assets/js/fur.js"></script>
