<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Users Table
            <a class="btn-link text-dark px-2 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#add-user" data-toggle="tooltip" data-original-title="Add User">
              <i class="fas fa-plus-circle text-sm" aria-hidden="true"></i>
            </a>
          </h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Role</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cheese</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {{#each users}}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="/static/assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{this.Name}}</h6>
                        <p class="text-xs text-secondary mb-0">{{this.Email}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">User</p>
                    <p class="text-xs text-secondary mb-0">Cheeser</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{this.Cheese}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{this.Date}}</span>
                  </td>
                  <td class="align-middle">
                    <a href="javascript:;" class="button-edit text-secondary font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#edit-user" data-toggle="tooltip" data-original-title="Edit user">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>

                    <a href="javascript:;" style="margin-left:5%" class="button-delete-user text-secondary font-weight-bold text-xs" data-id="{{this.ID}}">
                      <i class="fas fa-trash" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="add-user" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add User</h5>
      </div>
      <div class="modal-body">
        <div id="accountForm">
          <input type="hidden" id="userID-edit" name="ID" value="170">

          <div class="form-group" style="width:41%; float:left">
            <label for="userName">Name</label>
            <input type="text" class="form-control" id="name-add" name="Name" autocomplete="off" required="">
          </div>

          <div class="form-group" style="width:41%; float:left; margin-left:2%">
            <label for="userEmail">Email</label>
            <input type="email" class="form-control" id="email-add" name="Email" autocomplete="off" required="">
          </div>

          <div class="form-group" style="width:14%; float:left; margin-left:2% ">
            <label for="userCheese">Cheese</label>
            <input type="text" class="form-control" min="0" max="200" id="cheeese-add" autocomplete="off" required="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-add-user-close bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn button-add-user bg-gradient-success">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Add End -->


<!-- Modal Edit -->
<div class="modal fade" id="edit-user" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User - Enesxfb1#0000</h5>
      </div>
      <div class="modal-body">
        <div id="accountForm">
          <input type="hidden" id="userID-edit" name="ID">

          <div class="form-group" style="width:41%; float:left">
            <label for="userName">Name</label>
            <input type="text" class="form-control" id="name-edit" name="Name" autocomplete="off" required="">
          </div>

          <div class="form-group" style="width:41%; float:left; margin-left:2%">
            <label for="userEmail">Email</label>
            <input type="email" class="form-control" id="email-edit" name="Email" autocomplete="off" required="">
          </div>

          <div class="form-group" style="width:14%; float:left; margin-left:2% ">
            <label for="userCheese">Cheese</label>
            <input type="text" class="form-control" min="0" max="200" id="cheeese-edit" autocomplete="off" required="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn bg-gradient-success">Save Changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal edit End -->

<script src="/static/assets/js/user.js"></script>
